.footer {
    border-top: 1px solid black;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1024px) {
        height: auto;
        padding: 48px 0;
    }
}

.footer__nav {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }

    li {
        padding: 0;
        margin-right: 86px;

        @media screen and (max-width: 1024px) {
            margin-right: initial;
            margin-bottom: 24px;
        }

        &:last-of-type {
            margin-right: initial;

            @media screen and (max-width: 1024px) {
                margin-bottom: initial;
            }
        }

        a {
            font-size: 16px;
            text-decoration: none;
            color: black;
            text-transform: uppercase;
            font-weight: 400;
            line-height: normal;

            &:hover {
                font-weight: 700;
            }
        }
    }
}