.home__content {
    margin: 100px 146px 0 146px;
    @media screen and (max-width: 1024px) {
        position: relative;
        margin: 130px 0 0 0;
    }
}

// HERO // 
.home__hero {
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
        color: transparent;
        -webkit-text-stroke: 2px #ffff;
        @media screen and (max-width: 1024px) {
            font-size: 2.5rem;
            text-align: center;
        }
    }
}

.hero-background {
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


// TRI ET FILTRES // 

.home__content__selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    @media screen and (max-width: 1024px) {
        position: absolute;
        bottom: 35px;
        width: calc(100% - 20px);
        overflow-x: scroll;
        margin-left: 20px;
        height: 100%;
        padding-top: 10px;
        gap: 9px;
    }
    &__filters {
        display: flex;
        justify-content: space-between;
        width: calc(50% - 10px);
        @media screen and (max-width: 1024px) {
            width: initial;
            gap: 9px;
        }
    }
}

.home__filter {
    position: relative;
    border: 1.3px solid #B8BBC2;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    height: 43px;
    width: 260px;
    &__selected-option {
        display: inline-block;
        text-transform: uppercase;
        padding-left: 11px;
        line-height: 43px;
        overflow: hidden;
        width: 80%;
        height: 100%;
    }
    &-open {
        border: 1.3px solid #215AFF;
        border-radius: 8px 8px 0 0;
    }
}

/* Icône du menu déroulant */
.home__filter {
    &:before {
    content: "";
    position: absolute;

    width: 6px;
    height: 1px;

    background: black;
    top: 50%;
    right: 25px;

    transform: rotate(45deg);
    transition: all 200ms ease;
    }
    &:after {
        content: "";
        position: absolute;
    
        width: 6px;
        height: 1px;
    
        background: black;
        top: 50%;
        right: 21px;
    
        transform: rotate(-45deg);
        transition: all 200ms ease;
    }
    &-open {
        &:before { 
            transform: rotate(-45deg);
        }
        &:after {
            transform: rotate(45deg);
        }
    }
}


.home__filter {
    &__content {
        user-select: none;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border-radius: 0px 0px 8px 8px;
        background: white;
        opacity: 0;
        transition: all 300ms ease;
        z-index: 2;
        transform: scaleY(0);
        transform-origin: 0 0;
    }
    &-open {
        .home__filter__content {
            opacity: 1;
            transform: scaleY(1);
        }
    }
}


.home__filter__content__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    &__option {
        padding: 11px 24px;
        cursor: pointer;
        strong {
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 0.36px;

        }
        &:hover {
            background: #FFD6D6;
        }
        &:last-child {
border-radius: 0px 0px 8px 8px;
        }
    }
}

.home__filter__content__list__option.selected {
    background: #E00000;
    color: white;
}

.home__filter__content__list__option.clicked-option {
    background: #FE5858;
    color: #313144;
}



// ARTICLES //
.home__content__articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
    @media screen and (max-width: 1024px) {
        margin: 0 20px 40px 20px;
    }
}

.home__content__more {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}