.lightbox {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    &-open {
        display: flex;
    }
}

.lightbox__next,
.lightbox__prev {
    background-color: initial;
    border: none;
    padding: initial;
    cursor: pointer; 
    transition: .3s;
    color: #ffff;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 20px;
    @media screen and (max-width: 768px) {
        position: absolute;
        bottom: 10px;
    }
    .lightbox__arrow-hover {
        display: none;
    } 
}

.lightbox__next {
    @media screen and (max-width: 768px) {
        right: 0;
    }
}

.lightbox__prev {
    @media screen and (max-width: 768px) {
        left: 0;
    }
}

.lightbox__next:hover,
.lightbox__prev:hover {
    font-weight: 700;
    .lightbox__arrow-hover {
        display: block;
    }
    .lightbox__arrow {
        display: none;
    }
}

.lightbox__close {
    position: fixed;
    border: none;
    background-color: initial;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.lightbox__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 60px);
    color: white;
    gap: 10px;
    @media screen and (max-width: 768px) {
        margin: 0 10px;
    }
}

.lightbox__container__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.lightbox__container__infos {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.hide {
    display: none;
}
