.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: auto; 
    .modal__content {
        opacity: 0;
        transition: all 0.3s;
    }
    &-open {
        display: flex;
        animation: backgroundOpacity 300ms ease-in-out both 150ms;
        .modal__content {
            animation: fadeIn 300ms ease-in-out both; 
        }
    }
}

.modal-submit {
    height: 900px !important;
}

.modal__content {
    background-color: #fefefe;
    border: 5px solid black;
    width: 597px;
    height: 769px;
    padding-top: 18px;
    @media screen and (max-width: 768px) {
        width: 286px;
        height: 650px;
    }
    &__header {
        width: 100%;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 45px;
    }
    &__form {
        &__label {
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 500;
            color: #313144;
            margin-bottom: 24px;
            textarea {
                resize: none;
                height: 210px;
                @media screen and (max-width: 768px) {
                    height: 149px;
                }
            }
            &__input {
                border-radius: 8px;
                border: 1px solid #B8BBC2;
                min-height: 40px;
                max-width: 263px;
                min-width: 190px;
                width: 20vw;
            }
        }
    }
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
    margin: initial;
    border-color: #dc3232;
}
.wpcf7 form.sent .wpcf7-response-output {
    border-color: #dc3232;
}
.wpcf7-not-valid-tip {
    text-transform: initial;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes backgroundOpacity {
    from {
        background-color: rgba(0,0,0,0.3);
    }
    to {
        background-color: rgba(0,0,0,0.8);
    }
}