.photo-block-container {
    position: relative;
    width: 100%;
    max-width: calc(50% - 10px);
    overflow: hidden;
    @media screen and (max-width: 1023px) {
        max-width: 100%;
    }
    @media screen and (max-width: 1023px) {
        max-width: 100%;
    }
    &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
    .photo-block {
        position: absolute;
        width: 100%;
        height: 100%;
        &__picture {
            width: 100%;
            height: 100%;
            &__img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
}

.photo-block {
    &:hover {
        .photo-block__hover {
            opacity: 1;
            display: flex;
        }
    }
}

.photo-block__hover {
    opacity: 0;
    transition: opacity 0.4s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    &__fullscreen {
        cursor: pointer;
        margin-top: 12px;
        margin-right: 18px;
        background-image: url("../images/fullscreen.svg");
        background-size: cover;
        width: 34px;
        height: 34px;
    }
    &__view {
        margin: auto;
        display: inline-block;
    }
    &__infos {
        color: white; 
        display: flex;
        justify-content: space-between;
        margin: 0px;
        width: 100%;
        text-transform: uppercase;
        padding-bottom: 12px;
        &__ref {
            padding-left: 15px;
        }
        &__categorie {
            padding-right: 18px;
        }
        p {
            letter-spacing: 1.4px;
        }
    }
}