.single-post-content {
    margin: 38px 146px 0 146px;
    @media screen and (max-width: 1024px) { 
        padding-top: 100px;
        margin: 0 54px;
    }
}

.single-post-content__photo {
    display: flex;
    gap: 21px;
    @media screen and (max-width: 728px) {
        flex-direction: column-reverse;
        margin-bottom: 40px;
    }
    &__infos {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: end;
        border-bottom: 1px solid black;
        gap: 20px;
        padding-bottom: 37px;
        @media screen and (max-width: 1024px) {
            border-bottom: initial;
            &__title {
                margin: initial;
                margin-top: 20px;
            }
        }
        &__txt {
            font-weight: 400;
            text-transform: uppercase;
        }
        @media screen and (max-width: 1024px) {}
    }
    &__picture {
        position: relative;
        flex: 1;
        align-self: end;
        display: flex;
        justify-content: center;
        @media screen and (max-width: 1024px) {
            align-self: initial;
        }
        &__img {
            object-fit: contain;
            max-height: calc(100vh - 250px);
            display: block;
            width: 100%;
            @media screen and (max-width: 768px) {
                max-height: calc(100vh - 140px);
            }
        }
        .photo-block__hover {
            .fullscreen-hide {
                display: none;
            }
        }
    }
}
.single-post-content__photo__picture__content {
    display: inline-block;
    position: relative;
}

.single-post-content__photo__picture__content:hover .photo-block__hover {
    opacity: 1;
    display: flex;
}

.single-post-content__footer {
    height: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    @media screen and (max-width: 1024px) { 
    border-bottom: initial;
    position: relative;          
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -54px;
        width: 100vw;
        height: 1px;
        background-color: black;
    }        
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -54px;
        width: 100vw;
        height: 1px;
        background-color: black;
    }
    }
    &__contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        @media screen and (max-width: 1024px) {
            align-items: flex-start;
            flex-direction: column;
            gap: 15px;
            flex: 2;
            &__button {
                width: 100%;
                max-width: initial;
            }
        }
    }

    &__nav {
        display: flex;
        flex: 1;
        justify-content: end;
        align-items: end;
        height: 100%;
        flex-direction: column;
        margin-bottom: 20px;
        @media screen and (max-width: 425px) { 
            display: none;
        }
    }
}

.single-post-content__related-post {
    display: flex;
    flex-direction: column;
    &__title {
        text-transform: uppercase;
        font-weight: 400;
        margin: 50px 0;
        @media screen and (max-width: 1024px) { 
            margin: auto;
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }
    &__content {
        display: flex;
        gap: 20px;
        justify-content: space-around;
        @media screen and (max-width: 768px) { 
            margin-bottom: 24px;
            flex-wrap: wrap;
        }
    }
    &__button {
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        a {
            display: inline-block;
            width: 100%;
            line-height: 100%;
            color: initial;
            text-decoration: initial;
        }
        @media screen and (max-width: 425px) { 
            display: none;
        }
    }
}

.thumbnail {
    width: 81px;
    height: 71px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

.arrow-nav {
    display: flex;
    gap: 29px;
}


.next-thumbnail {
    display: none;
}
.previous-thumbnail {
    display: none;
}


.show-thumbnail {
    display: block;
}